<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body id="container">
    <h1>
        All you need to know about Viola Davis
    </h1>

    <p>
        Viola Davis (born August 11, 1965)[1] is an American actress and producer. Having won an Academy Award, a Primetime Emmy Award, and two Tony Awards, she is the first African-American to achieve the "Triple Crown of Acting".[2][3] Time magazine named her one of the 100 most influential people in the world in 2012 and 2017.[3][2] In 2017 she received a star on the Hollywood Walk of Fame.[4] In 2020, The New York Times ranked Davis ninth on its list of "The 25 Greatest Actors of the 21st Century".[5]

Born in St. Matthews, South Carolina, Davis began her acting career in Central Falls, Rhode Island, starring in minor theater productions. After graduating from the Juilliard School in 1993, she won an Obie Award in 1999 for her performance as Ruby McCollum in Everybody's Ruby. She played minor roles in several films and television series in the late 1990s and early 2000s, before winning the Tony Award for Best Featured Actress in a Play for her role as Tonya in the 2001 Broadway production of August Wilson's King Hedley II. Davis's film breakthrough came in 2008, when her role as a troubled mother in the film Doubt earned her a nomination for the Academy Award for Best Supporting Actress.
    </p>


    <a href="/home.html"><input type="button" value="Back to home page"></a>
</body>
</html>