<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <div id="container">
        <h1>
            Welcome on Viola Davis page !
        </h1>
        <img src="/image/Viola-Davis.jpg" alt="">
        <div class="buttonPage">
            <a href="/works.html"><input type="button" value="Discover her work"></a>
            <a href="/photoGallery.html"><input type="button" value="Photo Gallery"></a>
            <a href="/about.html"><input type="button" value="About her"></a>
        </div>
    </div>
</body>
</html>