<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/style4.css">
</head>
<body id="container">
    <h1>The best picture of Viola Davis</h1>

    <div>
        <img src="/image/gallery1.jpg"  alt="...">
        <img src="/image/gallery2.jpg" alt="...">
        <img src="/image/gallery3.jpg"  alt="...">
    </div>

    <a href="/home.html"><input type="button" value="Back to home page"></a>

</body>
</html>