<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works page</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>


    <div id="container">
        <h1>
            Discover some movies and series with Viola davis!
        </h1>
        <img src="/image/movie1.jpg" alt="...">
        <img src="/image/movies2.jpg"  alt="...">
        <img src="/image/movies3.jpg" alt="...">

       
    </div>
    <a href="/home.html"><input type="button" value="Back to home page"></a>

</body>
</html>